* {
    box-sizing: border-box;
    margin: 0;
}

.box {
    
    text-align: center;
    
}
#search {
    height:50px;
    width: 20%;
    margin: 25px;

    
}

.box #search {
    max-width: 100%;
    width: 35%;
}


    .wrapper { 
    display: grid;
    justify-content: center;
    grid-template-columns: 220px 220px 220px 220px;
    grid-row-gap: 20px;
    grid-column-gap: 1rem;
}

